.form-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($dark, 1);
  z-index: 999;
  color: white;
  & > .form-wrapper {
    height: 100%;
    width: 100%;
    & > .form {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
}
.form-container {
  max-width: 200px;
  margin: 0 auto;
}
.user-name,
.user-email,
.user-ocupation {
  width: 600px;
  & > input {
    background: $medium;
    color: blue;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
}
.user-ocupation,
.user-internal-status {
  & > select {
    width: 100%;
    background: $medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
}
